div[class="inner"]{
	width: 19.8%;
	height: 400px;
	float:left;
	margin: 0 auto;

}
img{
	height: 400px;
	max-height:100%;
	width: 600px;
	width: 100%;
	box-shadow: 10px 5px 5px #555555;
}
div[class="inner2"]{
	width:60%;
	float: left;
	margin: 0 auto;
}
body{
	margin: 0;
	background: #16BFFD; 
	background: linear-gradient(to left, #23da7f , #ddaa52);
	font: 75% georgia, sans-serif;

}
div[class="container"]{
	width: 100%;
	clear: both;
}
h1{
	text-align: center;
	font-size: 60px;
	color: #542365;
	text-shadow: 3px 4px 4px #542365;
}
p{

	background: #7b4397; 
	background: linear-gradient(to left, #7b4397 , #dc2430);
	border: 5px solid #2ffeff;
	padding: 100px;
	font: 75% georgia, sans-serif;
	font-size: 2em;
	border-radius: 40%;
	color: #212121;
	box-shadow: 10px 5px 5px #6666aa;
}
hr {
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
}
div p:nth-of-type(1)::first-letter{
	font-size: 2em;
}
.ani{
	width: 50%;
	height: 100px;
	margin: 100px auto;
}
.ani1{
	background: #6b8e23;
	border-radius: 50%;
	animation: my1 4s infinite;
}
.ani2{
	background: #4776E6;
	border-radius: 50%;
	animation: my2 4s infinite;
}
.ani3{
	background: #FFD700;
	border-radius: 50%;
	animation: my3 4s infinite;
}
.ani4{
	background: #672212;
	border-radius: 50%;
	animation: my4 4s infinite;
}
@keyframes my1{
	0%{
		transform: translateY(0) scaleX(1) scaleY(1);
		opacity: 1;
	}
	100%{
		transform: translateY(800px) scaleX(2) scaleY(2);
		opacity: 0;
	}
}
@keyframes my2{
	0%{
		transform: translateY(0) scaleX(1) scaleY(1);
		opacity: 1;
	}
	100%{
		transform: translateY(-800px) scaleX(2) scaleY(2);
		opacity: 0;
	}
}
@keyframes my3{
	0%{
		transform: translateX(0) scaleX(1) scaleY(1);
		opacity: 1;
	}
	100%{
		transform: translateX(800px) scaleX(2) scaleY(2);
		opacity: 0;
	}
}
@keyframes my4{
	0%{
		transform: translateX(0) scaleX(1) scaleY(1);
		opacity: 1;
	}
	100%{
		transform: translateX(-800px) scaleX(2) scaleY(2);
		opacity: 0;
	}
}
div[id="nav"]{
	background: #AA3A38;
	width: 100%;
	height: 30px;
}

div[id="navi"]{
	height: inherit;
	margin: 0 50px;
	float:left;
}

button{
	height: inherit;
	background-color: #2a5298;
	color: white;
	border-radius: 2%;
	border: none;
}
a{
	color: white;
	text-decoration: none;
}