body{
	background: url("Images/background4.jpg") no-repeat center center fixed;
	background-size: 100%;
	width: 100%;
	font-family: 'Tangerine', cursive;
	font-size: 30px;
	text-shadow: 4px 4px 4px #aaa;
	margin: 0;
	color: white;
}
div[class="container"]{
	width: 100%;
	height: inherit;
}
div[class="inner2"]{
	width: 70%;
	height: inherit;
	margin: 0 auto;
	color: white;
}
img[class="im"]{
	width: 100%;
	height: 500px;
	float: left;
}
div[class="nav"]{
	width: 100%;
	height: 30px;
	background: #522552;
	margin: 0;
	box-shadow: 7px 4px 4px 4px #241241;
	font-size: 14px;
}
h2{
	color: white;
	margin-bottom: 20px;
}
a{
	height: inherit;
}
button{
	height: inherit;
	background: none;
	border: none;
}
button:hover{
	background: black;
	color: white;
}
p{
	border:5px solid #241241;
	background: #41295a; 
	background: linear-gradient(to left, #41295a , #2F0743);
	font-size: 35px;
	border-radius: 20%;
	padding: 30px;
    box-shadow:10px 5px 5px 5px #244132;
}
p:hover{
background: linear-gradient(to left, #000428 , #004e92);   
color: #ffaa55;   
}
div[class="navi"]{
	float: left;
	height: inherit;
	padding-left: 30px;
}
div[class="navi2"]{
	float: right;
	height: inherit;
	padding-left: 30px;
	padding-right: 30px;
}
span{
	font-size: 40px;
	border-bottom: 1px solid white;
}
hr { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); 
}
img{
	height:280px;
	width: 600px;
	float: left;
}
div[class="slides"]{
	width: 3000px;
	animation-name: my;
	animation-duration: 18s;
	animation-iteration-count: infinite;
}
div[class="con"]{
	width: 600px;
	overflow: hidden;
	margin: 0 auto;

}

@keyframes my{
	0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0);

  }
  17%
  {
  	transform: translateX(-600px);
  }
  32%
  {
  	transform: translateX(-600px);
  }
  34%
  {
  	transform: translateX(-1200px);
  }
  49%
  {
  	transform: translateX(-1200px);
  }
  51%
  {
  	transform: translateX(-1800px);
  }
  66%
  {
  	transform: translateX(-1800px);
  }
  68%{
  	transform: translateX(-2400px);
  }
  85%{
  	transform: translateX(-2400px);
  }
  87%{
  	transform: translateX(-3000px);
  }
  100% {
    transform: translateX(-3000px);
  }
}
